Game Design Document Requirements


 - Game Outline
 - Game Summary
 - Game Mechanics
 - Controls
 - Plot
 - DLCs
 - List of characters
 - Any cool ideas

I'll add more to this list soon.
